/* CSS */

body{
    background-color:#7E98E5;

}

h1{
font-family: 'Verdana', sans-serif;
color: #000000;
font-size: 2em; 
margin: 0 auto;
text-align: center;
padding-top: 2.22222222%; /*20px/900*/
padding-bottom: .55555556%; /*5px/900*/

}

