/* CSS */

body{
    background-color:#d7dfbb;

}

h1{
font-family: 'Verdana', sans-serif;
color: #FFFFFF;
font-size: 2em; 
margin: 0 auto;
text-align: center;
padding-top: 2.22222222%; /*20px/900*/
padding-bottom: .55555556%; /*5px/900*/

}

#bees {
width: 60.45751634%; /*555/918 w555-h395*/
float: right;
margin-left: 1.08932462%; /*10px/918*/ 
}